<template>
  <div id="app">
    <!-- <router-view/> -->
    <game-display></game-display>
  </div>
</template>

<script>
import { Game } from '@/assets/game.js'
import GameDisplay from '@/components/GameDisplay'

export default {
  name: 'App',
  components: { GameDisplay },
  data() {
    return {}
  },
  methods: {
    test() {}
  },
  created() {
    Game.init()
  }
}
</script>

<style>
</style>
