<template>
  <div class="game-display">
    <p>
      This is the roguelike
    </p>

  </div>
</template>

<script>
export default {
  name: 'GameDisplay',
  data() {
    return {}
  }
}
</script>

<style>
</style>
